    <footer>

        <div class="waves">
            <div class="wave" id="wave1"></div>
        </div>

        <div>
            <p class="lh">HOME</p>
            
        </div>
        
        <p class="foot">©Dumplings</p>
        </footer> 

  </body>
</html>
