<div class="abobus">



<ul class="ulitka">

        <li><a class="levipelmeni" href="/">DUMPLINGS</a></li>
            <li><a class="l" href="/">Главная</a></li>

        <% if (auth) { %>
            <li><a class="l" href="/add">Добавить</a></li>
            <li><a class="l" href="/logout">Выйти</a></li> 
        <% } else { %>
            <li><a class="l" href="/auth">Авторизация</a></li>
           
        <% } %>
            <li><a href="/lock">Нет доступа</a></li>
        
    <p class="l">Звонить по номеру: +79193318885</p>
        <div class="logol">
            <img src="/img/levka.jpg" width="150px">
        </div>
</ul>
</div>

    
</div>




   
 


